---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  name: clusterresources.cli.kyverno.io
spec:
  group: cli.kyverno.io
  names:
    kind: ClusterResource
    listKind: ClusterResourceList
    plural: clusterresources
    singular: clusterresource
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ClusterResource declares Kubernetes specific resources to be
          loaded by the Kyverno CLI
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              crds:
                items:
                  type: string
                type: array
              resources:
                items:
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
