apiVersion: v1
name: kyverno-policies
version: v2.1.4-rc3
appVersion: v1.5.2-rc3
icon: https://github.com/kyverno/kyverno/raw/main/img/logo.png
description: Kubernetes Native Policy Management Policies
keywords:
  - kubernetes
  - nirmata
  - policy agent
  - validating webhook
  - admissions controller
home: https://kyverno.io/
sources:
  - https://github.com/kyverno/kyverno
maintainers:
  - name: Nirmata
    url: https://kyverno.io/
engine: gotpl
kubeVersion: ">=1.10.0-0"
