grafana:
  enabled: true

features:
  policyExceptions:
    enabled: true
    namespace: "*"

admissionController:
  serviceMonitor:
    enabled: true

  tracing:
    enabled: true
    address: tempo.monitoring
    port: 4317

  logging:
    format: json

backgroundController:
  serviceMonitor:
    enabled: true

cleanupController:
  rbac:
    clusterRole:
      extraResources:
        - apiGroups:
            - ''
          resources:
            - pods
          verbs:
            - list
            - delete

  serviceMonitor:
    enabled: true

  tracing:
    enabled: true
    address: tempo.monitoring
    port: 4317

  logging:
    format: json

reportsController:
  serviceMonitor:
    enabled: true

  tracing:
    enabled: true
    address: tempo.monitoring
    port: 4317

  logging:
    format: json
