---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: kyverno
  name: kyverno-svc
spec:
  ports:
  - port: 443
    name: https
    targetPort: https
  selector:
    app: kyverno
    # do not remove
    app.kubernetes.io/name: kyverno
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: kyverno
  name: kyverno-svc-metrics
spec:
  ports:
  - port: 8000
    name: metrics-port
    targetPort: metrics-port
  selector:
    app: kyverno
    # do not remove
    app.kubernetes.io/name: kyverno
