{{- if .Values.cleanupController.enabled -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "kyverno.cleanup-controller.deploymentName" . }}
  labels:
    {{- include "kyverno.cleanup-controller.labels" . | nindent 4 }}
rules:
- apiGroups:
    - kyverno.io
  resources:
    - clustercleanuppolicies
    - cleanuppolicies
    - clustercleanuppolicies/*
    - cleanuppolicies/*
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
    - deletecollection
- apiGroups:
    - batch
  resources:
    - cronjobs
  verbs:
    - create
    - delete
    - get
    - list
    - update
    - watch
- apiGroups:
    - '*'
  resources:
    - '*'
  verbs:
    - delete
{{- end }}
