apiVersion: v1
data:
  resourceFilters: '[Event,*,*][*,kube-system,*][*,kube-public,*][*,kube-node-lease,*][Node,*,*][APIService,*,*][TokenReview,*,*][SubjectAccessReview,*,*][SelfSubjectAccessReview,*,*][*,kyverno,*][Binding,*,*][ReplicaSet,*,*][ReportChangeRequest,*,*][ClusterReportChangeRequest,*,*][PolicyReport,*,*][ClusterPolicyReport,*,*]'
  excludeGroupRole: 'system:serviceaccounts:kube-system,system:nodes,system:kube-scheduler'
  generateSuccessEvents: 'false'
kind: ConfigMap
metadata:
  labels:
    app: kyverno
  name: kyverno
