apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./crds/
- ./manifest/
- ./k8s-resource/
images:
- name: ghcr.io/kyverno/kyverno
  newName: ghcr.io/kyverno/kyverno
  newTag: v1.3.4
- name: ghcr.io/kyverno/kyvernopre
  newName: ghcr.io/kyverno/kyvernopre
  newTag: v1.3.4
