apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./crds/
- ./manifest/
- ./k8s-resource/
images:
- name: nirmata/kyverno
  newName: nirmata/kyverno
  newTag: v1.2.1
- name: nirmata/kyvernopre
  newName: nirmata/kyvernopre
  newTag: v1.2.1
