apiVersion: v2
type: application
name: kyverno
version: 3.2.6
appVersion: v1.12.5
icon: https://github.com/kyverno/kyverno/raw/main/img/logo.png
description: Kubernetes Native Policy Management
keywords:
  - kubernetes
  - nirmata
  - policy agent
  - policy
  - validating webhook
  - admission controller
  - mutation
  - mutate
  - validate
  - generate
  - supply chain
  - security
home: https://kyverno.io/
sources:
  - https://github.com/kyverno/kyverno
maintainers:
  - name: Nirmata
    url: https://kyverno.io/
kubeVersion: ">=1.25.0-0"
annotations:
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"
  artifacthub.io/links: |
    - name: Documentation
      url: https://kyverno.io/docs
  # valid kinds are: added, changed, deprecated, removed, fixed and security
  artifacthub.io/changes: |
    - kind: added
      description: Add a key to preserve configmap settings during upgrade
    - kind: added
      description: Make admission reports breaker threshold configurable
dependencies:
  - name: grafana
    version: 3.2.6
    condition: grafana.enabled
  - name: crds
    version: 3.2.6
    condition: crds.install
