name: Codecov

on:
  push:
    branches:
      - 'main'
      - 'release*'
  pull_request:
    branches:
      - 'main'
      - 'release*'

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          fetch-depth: 0
      - name: Setup build env
        uses: ./.github/actions/setup-build-env
      - name: Generate Code Coverage Report
        run: make code-cov-report
      - name: Upload Report to Codecov
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # v3.1.1
        with:
          file: ./coverage.out
          fail_ci_if_error: true
          verbose: true
