name: Codecov

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - 'main'
      - 'release*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
      - name: Setup build env
        uses: ./.github/actions/setup-build-env
        with:
          build-cache-key: codecov
      - name: Generate Code Coverage Report
        run: go test ./... -cover -coverpkg ./... -coverprofile=coverage.out
      - name: Upload Report to Codecov
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # v3.1.1
        with:
          file: ./coverage.out
          fail_ci_if_error: true
          verbose: true
