# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build devcontainer

permissions: {}

on:
  pull_request:
    branches:
      - main
      - release*
  merge_group:
    types: [checks_requested]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  devcontainer-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          android: true
          docker-images: false
          dotnet: false
          haskell: false
          large-packages: false
          swap-storage: false
          tool-cache: false
      - name: Build devcontainer image
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3
        with:
          imageName: kyverno-devcontainer
          push: never
      - name: Trivy Scan Image
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284 # v0.34.0
        with:
          scan-type: image
          scan-ref: kyverno-devcontainer
          format: sarif
          output: trivy-results.sarif
          vuln-type: os,library
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          cache: false
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db:2
