# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Dummy

permissions: {}

on:
  pull_request:
    branches:
      - main
      - release*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  failure:
    runs-on: ubuntu-latest
    steps:
      - run: ${{ false }}
