# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: helm-test

permissions: {}

on:
  pull_request:
    branches:
      - main
      - release*
      - gh-readonly-queue/main/**
    paths:
      - charts/**
  merge_group:
    types: [checks_requested]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linter-artifacthub:
    runs-on: ubuntu-latest
    container:
      image: artifacthub/ah
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run ah lint
        working-directory: ./charts/
        run: ah lint
