name: helm-test
on:
  push:
    branches:
      - 'main'
    paths:
      - 'charts/kyverno/**'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'charts/kyverno/**'

jobs:
  helm-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Unshallow
        run: git fetch --prune --unshallow

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (lint)
        run: ct lint --target-branch=main --check-version-increment=true
