name: helm-package
on:
  push:
    tags:
    - "*"
    paths:
    - 'charts/kyverno/**'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: J12934/helm-gh-pages-action@master
      with:
        access-token: ${{ secrets.ACCESS_TOKEN }}
        deploy-branch: gh-pages
        charts-folder: charts