# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: helm-test

permissions: {}

on:
  pull_request:
    branches:
      - main
      - release*
    paths:
      - charts/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linter-artifacthub:
    runs-on: ubuntu-latest
    container:
      image: artifacthub/ah
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run ah lint
        working-directory: ./charts/
        run: ah lint
