# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: PR rate limiter

permissions: {}

on:
  pull_request_target:
    types:
      - opened
      - reopened

jobs:
  limit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Limit open pull requests per user
        uses: Homebrew/actions/limit-pull-requests@9ceb7934560eb61d131dde205a6c2d77b2e1529d # master
        with:
          except-author-associations: |
            MEMBER
            OWNER
          comment-limit: 9
          comment: >
            You already have 8 pull requests open. Please work on getting
            existing PRs merged before opening more.
          close-limit: 9
          close: true
