name: PR update

on:
  push:
    branches:
      - 'main'
      - 'release-*'

jobs:
  checksecret:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.check.outputs.result }}
    steps:
      - name: Check secret
        id: check
        uses: ./.github/actions/is-defined
        with:
          value: ${{ secrets.PR_UPDATE_TOKEN }}

  autoupdate:
    needs: [checksecret]
    if: needs.checksecret.outputs.result == 'true'
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Automatically update PR
        uses: adRise/update-pr-branch@437fab6e0ac7d2a668f2c479f64225edd7f303fd # v0.6.0
        with:
          token: ${{ secrets.PR_UPDATE_TOKEN }}
          base: ${{ github.ref_name }}
          required_approval_count: 1
          require_passed_checks: false
          sort: updated
          direction: asc
