# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: PR update

permissions: {}

on:
  push:
    branches:
      - main
      - release-*

jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Check secret
        id: checksecret
        uses: ./.github/actions/is-defined
        with:
          value: ${{ secrets.PR_UPDATE_TOKEN }}
      - name: Automatically update PR
        if: steps.checksecret.outputs.result == 'true'
        uses: adRise/update-pr-branch@a51c014567e5be98445551cce9b8f5ad42dd8acf # v0.10.2
        with:
          token: ${{ secrets.PR_UPDATE_TOKEN }}
          base: ${{ github.ref_name }}
          require_auto_merge_enabled: true
          required_approval_count: 1
          require_passed_checks: false
          allow_ongoing_checks: true
          sort: created
          direction: desc
