# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: PR update

permissions: {}

on:
  push:
    branches:
      - 'main'
      - 'release-*'

jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - name: Check secret
        id: checksecret
        uses: ./.github/actions/is-defined
        with:
          value: ${{ secrets.PR_UPDATE_TOKEN }}
      - name: Automatically update PR
        if: steps.checksecret.outputs.result == 'true'
        uses: adRise/update-pr-branch@1dc4248ce8a2480d1e432fa641f243ef12f6708e # v0.7.2
        with:
          token: ${{ secrets.PR_UPDATE_TOKEN }}
          base: ${{ github.ref_name }}
          required_approval_count: 1
          require_passed_checks: false
          sort: updated
          direction: asc
