# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Verify codegen

permissions: {}

on:
  pull_request:
    branches:
    - main
    - release-*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify-codegen:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup build env
      uses: ./.github/actions/setup-build-env
      timeout-minutes: 10
    - name: Create cluster
      run: |
        set -e
        make kind-create-cluster
    - name: Verify generated code is up to date
      run:  |
        set -e
        make verify-codegen
